<div class="container">
  <div class="row">
      <h2>フォロワー</h2>
      <br>
      <table class="table">
        <tbody>
          <% @user.followers.each do |user| %>
            <tr>
              <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40,  fallback: "no_image.jpg",size: "40x40" %></td>
              <td><%= user.name %></td>
              <td>follows<%= user.followings.count %></td>
              <td>followers<%= user.followers.count %></td>
          <% end %>
        </tbody>
      </table>
   </div>
  </div>
</div>