<div class="home_about">
  <div class="about">
    <div class="b"><%= image_tag 'top5.jpeg', class: 'c' %></div>
      <h3>Only for me</h3>
        <br>
      <p>
        当サイトをご覧いただきましてありがとうございます。
        <br>
        <br>
        ネイルは毎月変えるもの。 <br>
        今はどんなものが流行っているのかわからない、自分にはどの色があっているのかわからない等 <br>
        デザインで悩まれる方は多いと思います。<br>
        そんな悩みを解決してくれるサイトです。
        <br>
        <br>
          ◯できること◯<br>
          <br>
        ・いろんな人のデザインを見ることができます<br>
        ・検索ページで色やタグの検索もできます<br>
        ・☆マークを押すと気に入ったデザインをブックマークできます<br>
        ・複数枚の画像を投稿できます。<br>
        ・いいねのランキングを見ることができます。<br>
        <br>
        あなたのお気に入りのデザインが見つかりますように...
      </p>
    </div>


</div>

</div>
