/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.flash {
  color: #ffffff;
  margin-top: 20px;
}

 .body {
  background-image: image-url("hoge.jpg");
 }

// エラー文
.error_messages {
  color: red;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  background: #FFF;
  border: solid 3px red;/*線*/
  border-radius: 10px;/*角の丸み*/
}

// 各ページの背景カラー
.index {
  background-color: #FFEEFF;
  width: 100%;
}

.edit {
  background-color: #F5FFFA;
  width: 100%;
}

.show {
  background-color: #F0F8FF;
  width: 100%;
}

.other {
  background-color: #D8BfD8;
  width: 100%;
}

.in {
  background-color: #FFDBC9;
  width: 100%;
}

// テキストを中心に
.post {
  text-align: center;
}

// 画面スライダー
.img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

#pageTop {
  position: fixed;
  bottom: 50px;
  right: 30px;
}

#pageTop i {
  padding-top: 10px
}

#pageTop a {
  display: block;
  z-index: 999;
  padding: 8px 0 0 8px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: #a52a2a;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.table {
   margin: auto;
   width: 50% !important;
}
