<div class="container">
  <div class="row">
    <div class="text-center" >
      <p>こんにちは<%= @resource.email %>!</p>
      <br>
      <p>パスワードが変更されたことをお知らせするためにご連絡いたします。</p>
    </div>
  </div>
</div>
