<div class="container"> 
  <div class="row"> 
    <div class="text-center" >
      <p>こんにちは<%= @resource.email %>!</p>
      <br>
      <p>あなたのパスワードを変更するためのリンクを要求しました。以下のリンクから変更を行うことができます。</p>
      <br>
      <p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>
      <br>
      <p>これをリクエストしなかった場合は、このメールを無視してください。</p>
      <p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
      <br>
    </div>
  </div>
</div>